@import "../variables";
.cardContainer {
  padding: 12px;
  background-color: $color-dark-secondary;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 15%;
  min-width: 200px;
  border-radius: 12px;
  &__CardTop {
    height: auto;
    position: relative;
    &__img {
      width: 100%;
      height: auto;
      border-radius: 12px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }
    &__cardIcons {
      position: absolute;
      display: flex;
      top: 0;
    }
  }
}
